html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start editing from here */
.txt-rt {
	text-align: right;
} /* text align right */
.txt-lt {
	text-align: left;
} /* text align left */
.txt-center {
	text-align: center;
} /* text align center */
.float-rt {
	float: right;
} /* float right */
.float-lt {
	float: left;
} /* float left */
.clear {
	clear: both;
} /* clear float */
.pos-relative {
	position: relative;
} /* Position Relative */
.pos-absolute {
	position: absolute;
} /* Position Absolute */
.vertical-base {
	vertical-align: baseline;
} /* vertical align baseline */
.vertical-top {
	vertical-align: top;
} /* vertical align top */
.underline {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	margin: 0 0 20px 0;
} /* Add 5px bottom padding and a underline */
nav.vertical ul li {
	display: block;
} /* vertical menu */
nav.horizontal ul li {
	display: inline-block;
} /* horizontal menu */
img {
	max-width: 100%;
}
/*end reset*/
body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
}

.message.warning {
	background: rgba(255, 255, 255, 0.33);
	-moz-box-shadow: 0 0 0 1px rgba(56, 41, 32, 0.25);
	-webkit-box-shadow: 0 0 0 1px rgba(56, 41, 32, 0.25);
	box-shadow: 0 0 0 1px rgba(56, 41, 32, 0.25);
	margin: 9% auto 0;
	width: 26%;
}

.login-head {
	padding: 2em 0;
	background: #7f2c26;
	position: relative;
	/*
	border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-o-border-radius: 6px 6px 0px 0px;
	*/
}

.login-head h1 {
	color: #fff;
	font-size: 1.5em;
	text-align: left;
	margin: 0 23px;
}

form {
	padding: 3em 2em;
	background: #F2F2F2;
	border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-o-border-radius: 0px 0px 6px 6px;
}

form li {
	border: 2px ridge rgba(187, 185, 189, 0.11);
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	list-style: none;
	margin-bottom: 12px;
	background: #F0EEF0;
}

.icon {
	background: url(../imagenes/login/icons-login.png) no-repeat 0px 0px;
	height: 30px;
	width: 30px;
	display: block;
	float: right;
	margin: 9px 30px 9px 0px;
}

.user {
	background: url(../imagenes/login/icons-login.png) no-repeat 7px 1px;
}

.lock {
	background: url(../imagenes/login/icons-login.png) no-repeat -26px
		1px;
}

input[type="text"], input[type="password"] {
	font-family: 'Droid Sans', sans-serif;
	width: 70%;
	padding: 0.5em 2em 0.5em 1em;
	color: #B8B8B8;
	font-size: 20px;
	outline: none;
	background: none;
	border: none;
}

input[type="text"]:hover, input[type="password"]:hover {
	color: #bf4039;
}

.submit {
	padding-top: 3em;
}

input[type="button"] {
	color: #fff;
	cursor: pointer;
	font-weight: 900;
	outline: none;
	font-family: 'Raleway', sans-serif;
	padding: 12px 0px;
	width: 35%;
	font-size: 18px;
	background: #7f2c26;
	border: 2px solid #7f2c26;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}

input[type="button"]:hover {
	background: #fff;
	color: #7f2c26;
	border: 2px solid #7f2c26;
}

.warning {
	text-align: center;
	margin: 14% auto;
	width: 280px;
	background: rgba(82, 97, 97, 0.68);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
}

.login-head {
	padding: 1.45em 0;
}

.login-head h1 {
	font-size: 1.15em;
}

input[type="text"], input[type="password"] {
	font-size: 16px;
}

form {
	padding: 1.5em 1.5em;
}

.submit {
	padding-top: 0.4em;
}

input[type="button"] {
	float: none;
	padding: 11px 0px;
	width: 52%;
	font-size: 15px;
}

.message.warning {
	margin: 7% auto 0;
	/*width: 33%;*/
	width: 700px;
}

.errorMsgStyle {
	background: #F2F2F2;
	color: #d6756f;
	padding: 10px 0px;
}

.logos-container-top {
	background: #F2F2F2;
	padding: 10px 0px;
	border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-o-border-radius: 6px 6px 0px 0px;
}

.logos-container-bottom {
	background: #F2F2F2;
	padding-bottom: 15px;
	border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-o-border-radius: 0px 0px 6px 6px;
}

/* disable chrome inputs style */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #F0EEF0 inset; /* Cambiar por color de fondo  de input */
    -webkit-text-fill-color: #B8B8B8; /* Color de texto de input */
}
 
input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px #F0EEF0 inset; /* Cambiar por color de fondo  de input */
    -webkit-text-fill-color: #B8B8B8; /* Color de texto de input */
}

.web-link-container { 
	text-align: center;
	padding: 20px;
	font-style: italic;
}

.web-link-container label { 
	font-size: 1em !important;
	font-family: "Droid Sans",sans-serif;
}

.web-link-container a{
	font-style: normal;
}

.web-link-container a label{
	cursor: pointer;
}



.invoices-modal .modal-dialog{
	width: 900px;
}