<div class="container login-container">
    <div class="row">

        <form id="loginFormId" role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3 col-lg-3"></div>
                <label for="userName" class="col-sm-2 col-lg-2 control-label">Nombre</label>
                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control" id="userName" placeholder="Nombre" ng-model="$ctrl.usuario.name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 col-lg-3"></div>
                <label for="password" class="col-sm-2 col-lg-2 control-label">Contrase&ntilde;a</label>
                <div class="col-sm-4 col-lg-4">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="$ctrl.usuario.password" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 col-lg-12 login-error-message text-center">{{ $ctrl.message }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 col-lg-12">
                    <input type="button" id="btnLoginId" value="Entrar" class="btn btn-default center-block" ng-click="$ctrl.entrar();" />
                </div>
            </div>

        </form>

    </div>
</div>