<div class="login-head">
    <h1>Visio App</h1>
</div>

<form id="loginFormId" prependId="false">
    <li>
        <input type="text" class="text" id="userName" placeholder="Nombre" ng-model="$ctrl.usuario.name" />
        <!--<span class="icon user"></span>-->
    </li>
    <div class="clear" />

    <li>
        <input type="password" id="password" placeholder="Password" ng-model="$ctrl.usuario.password" />
        <!--<span class="icon lock"></span>-->
    </li>

    <div class="errorMsgStyle">{{ $ctrl.message }}</div>
    <div>{{$ctrl.usuario.nombre}}</div>
    <div>{{$ctrl.token}}</div>

    <div class="submit">
        <input type="button" id="btnLoginId" value="Entrar" class="loginPanelBtn" ng-click="$ctrl.entrar();" />
    </div>

    <div class="submit">
        <input type="button" id="btnGetpdf" value="Factura" class="loginPanelBtn" ng-click="$ctrl.getPdf();" />
    </div>


</form>